anyio==3.3.4
asgiref==3.4.1
certifi==2021.10.8
click==8.0.3
deepcomparer==0.1.0
deepfinder==1.2.0
dependency-injector==4.37.0
fastapi==0.70.0
h11==0.12.0
idna==3.3
minio==7.1.1
pydantic==1.8.2
pymongo==3.12.1
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
starlette==0.27.0
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
