anyio==3.6.2
asgiref==3.4.1
certifi==2024.7.4
click==8.0.3
deepcomparer==0.1.0
deepfinder==1.2.0
dependency-injector==4.37.0
fastapi==0.115.2
h11==0.12.0
idna==3.7
minio==7.1.1
pydantic==1.10.13
pymongo==4.6.3
python-multipart==0.0.18
six==1.16.0
sniffio==1.2.0
starlette==0.40.0
typing-extensions==4.8.0
urllib3==1.26.19
uvicorn==0.15.0
